<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-6">
        <div class="card mb-5">
            <img src="<%= campground.image%>" class="card-img-top" alt="..." style="width: auto; height: 300px;">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title%></h5>
                <p class="card-text"><%= campground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campground.location%></li>
                <li class="list-group-item">Submitted by <%= campground.author.username%></li>
                <li class="list-group-item">$<%= campground.price%>/night</li>
            </ul>
            <% if(currentUser && campground.author.equals(currentUser._id)) { %> 
            <div class="card-body">
                <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %> 
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
      
    </div>
    <div class="col-6">
        <% if(currentUser){ %> 
        <h2>Leave a Review</h2>
        <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label> <br>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="2" required></textarea>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } %> 
        <% for(let review of campground.reviews) { %> 
        <div class="mb-3 card">
            <div class="card-body">
            <!-- <h5 class="card-title"> Rating: <%#= review.rating %></h5> -->
            <!-- <h3>Rated element name</h3> -->
            <p class="starability-result" data-rating="<%=review.rating%>">
              Rated: <%=review.rating%> stars
            </p>
            <% if(!review.author || review.author == null){ %> <!-- Refer Note 1 -->
                <h6 class="card-subitile mb-2 text-muted">By Deleted User</h6>             
            <% } else { %> 
                <h6 class="card-subitile mb-2 text-muted">By <%=review.author.username%> </h6>
                <% } %> 
            <p class="card-text">Review: <%= review.body %> </p>
            <% if(review.author && currentUser && review.author.equals(currentUser._id)){ %> <!-- Added review.author by me -->
                <form action="/campgrounds/<%= campground._id%>/reviews/<%=review._id%>?_method=Delete" method="POST">
                    <button class="btn-sm btn-danger btn">Delete</button>
                </form>
                <% } %>  
        </div>
        </div>
        <% } %>  
    </div>
</div>

<!-- Note -->
<!-- 1: Showing error when I add  "<h6 class="card-subitile mb-2 text-muted">By <%#=review.author.username%></h6>"  -->
<!-- Error was "Cannot read the property of undefined i.e username"  -->

<!-- { "_id" : ObjectId("62b2b7343ee98eb945012694"), "title" : "Tumbling Hunting Camps", "image" : "https://source.unsplash.com/collection/483251", "price" : 18, "description" : "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, repellendus. Neque iste qui ratione omnis facilis similique cumque, ipsum sunt quis commodi excepturi accusamus nobis, eius nisi vitae corporis iure.", "location" : "Baldwin Park, California", "author" : ObjectId("62b177d665862ad8e05e2139"), "reviews" : [ ObjectId("62b2f02a749cc99955fd4632"), ObjectId("62ba6d6f4088a93fee809a26") ], "__v" : 10 } -->
<!-- { "_id" : ObjectId("62b2b7343ee98eb945012698"), "title" : "Silent Cliffs", "image" : "https://source.unsplash.com/collection/483251", "price" : 20, "description" : "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, repellendus. Neque iste qui ratione omnis facilis similique cumque, ipsum sunt quis commodi excepturi accusamus nobis, eius nisi vitae corporis iure.", "location" : "Sarasota, Florida", "author" : ObjectId("62b177d665862ad8e05e2139"), "reviews" : [ ObjectId("62b2d85705afe971d3f5a9c1") ], "__v" : 1 } -->